<div class="Product_Show_Page">

  <div class="bg-img" style="background-image: url('<%= @listing.image_url %>');">
  <div class="container">
    <div class="sub-container" style="display: inline;">
    <h1><%= @listing.title %></h1><br>


</div>    
  </div>
</div>

<!--

   <section class="listing_media" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('<%= @listing.image_url %>');">
             <div style="background-color: black; height: 60vh; width: 25%;  position: absolute;
  right: 0;
  padding: 16px;
  background-color: black;
  opacity: 0.9;
  ">
                <h1 style="color: red;">Great Finds Delivered</h1>
                <h2>Handpicked Listings From Across the Web Delivered to Your Inbox</h2>
            </div>
        </section>
-->
<br>
<br>
<div style="width: 50%; margin-left: auto; margin-right: auto; text-align: center;">
<p1 class="product_description" style="font-size: 1.5em; font-weight: 250; margin-bottom: 1em;"><%= @listing.description %></p1><br>
<br>
<p1 class="product_price"> <strong>Listing Price: <%= number_to_currency(@listing.price) %> USD</strong></p1><br>
 <a href="<%= @listing.listing_url %>"><button class ='add_to_cart_button' style="margin-top: 0.75em;" type="button">View Original Listing</button></a>
</div>
<br>
<br>
<br>

<div class="listing_summary">
<h1 class="product_title" style="text-align: center;"> Listing at a Glance </h1>


<table width="100%" cellspacing="0" cellpadding="0" role="presentation">
            
            <tbody><tr>
                  <td width="50.0%">
                        Year:
                       
                      
                        <span><%= @listing.year %></span></td>
                     <td width="50.0%">
                        Make:
                       
                      
                        <span><%= @listing.make %></span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        Model:
                       
                      
                        <span><%= @listing.model %></span></td>
                     <td width="50.0%">
                        Trim:
                       
                      
                        <span><%= @listing.trim %></span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        Mileage:
                       
                      
                        <span><%= @listing.mileage %></span></td>
                     <td width="50.0%">
                        Vehicle Identification Number:
                       
                      
                        <span><%= @listing.vin %></span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        Condition:
                       
                      
                        <span><%= @listing.condition %></span></td>
                     <td width="50.0%">
                        Exterior Color:
                       
                      
                        <span><%= @listing.exterior_color %></span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        Interior Color:
                       
                      
                        <span><%= @listing.interior_color %></span></td>
                     <td width="50.0%">
                        Engine:
                       
                      
                        <span><%= @listing.engine %></span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        Transmission:
                       
                      
                        <span><%= @listing.transmission %></span></td>
                     <td width="50.0%">
                        Original Listing Service:
                       
                      
                        <span><%= @listing.original_listing_service %></span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        More Cylinder's Listing Status:
                       
                      
                        <span><%= @listing.status %></span></td>
                     <td width="50.0%">
                        Listing Price:
                       
                      
                        <span><%= number_to_currency(@listing.price) %> USD</span></td>
                    </tr>
             <!-- <tr>
                   <td width="50.0%">
                        Condition:
                       
                      
                        <span>Used</span></td>
                     <td width="50.0%">
                        Condition:
                       
                      
                        <span>Used</span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        Condition:
                       
                      
                        <span>Used</span></td>
                     <td width="50.0%">
                        Condition:
                       
                      
                        <span>Used</span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        Condition:
                       
                      
                        <span>Used</span></td>
                     <td width="50.0%">
                        Condition:
                       
                      
                        <span>Used</span></td>
                    </tr> -->
                                </tbody></table>
              <p style="text-align: center; font-size: 0.5em; font-weight: 500;">Although every effort is made to present accurate and reliable vehicle information, use of this information is voluntary, and should only be deemed reliable after an independent review of its accuracy, completeness, and timeliness.</p>
              <p style="text-align: center; font-weight: lighter; font-size: 0.75em;">Listing Information Courtesy of <a href="<%= @listing.listing_url %>"> <%= @listing.original_listing_service %></a></p>



</div>


<br>
<br>
<br>
<br>
<p style="text-align: center; font-weight: lighter; font-size: 0.9em;">Last Updated On <%= @listing.updated_at.to_formatted_s(:long_ordinal) %> UTC</p>

<!-- <% if ((Time.now - @listing.updated_at) / 1.minute).round < 1 %>
            <p style="text-align: center; font-weight: 300;">Last Updated Less Than A Minute Ago</p>
            <% else %>
            <% if ((Time.now - @listing.updated_at) / 1.minute).round < 60 %>
            <p style="text-align: center; font-weight: 300;">Last Updated <%= ((Time.now - @listing.updated_at) / 1.minute).round %> <%= 'Minute'.pluralize(((Time.now - @listing.updated_at) / 1.minute).round) %> Ago</p>

            <% else %>
            <% if ((Time.now - @listing.updated_at) / 1.hour).round < 24 %>
            <p style="text-align: center; font-weight: 300;">Last Updated <%= ((Time.now - @listing.updated_at) / 1.hour).round %>  <%= 'Hour'.pluralize(((Time.now - @listing.updated_at) / 1.hour).round) %> Ago</p>
            <% else %>
            <p style="text-align: center; font-weight: 300;">Last Updated <%= ((Time.now - @listing.updated_at) / 1.day).round %>  <%= 'Day'.pluralize(((Time.now - @listing.updated_at) / 1.day).round) %> Ago</p>
            <% end %>
            <% end %>
            <% end %>

-->



<!--

<table>
  <tr>
    <th><img src="<%= @listing.image_url %>" alt="<%= @listing.title %>" width="900em" height= auto></th>
    
    <th>

      <table>
        <tr><br></tr>
        <tr><br></tr>
        <tr><h1 class="product_title"> <%= @listing.title %> </h1></tr>
        <tr><br></tr>
        <tr style="width: 50%;"><p1 class="product_description"><%= @listing.description %></p1></tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr><p1 class="product_price"> Price: <%= number_to_currency(@listing.price) %> </p1></tr>
        <tr><br></tr>
         <tr><br></tr>
        <tr>
            

                <a href="<%= @listing.listing_url %>"><button class ='add_to_cart_button' style="" type="button">View Original Listing</button></a>
        </tr>
        <tr><br></tr>
      

      </table>




    </th>
  </tr>





</table>
-->
<br>
<h1 style="text-align: center;">Don't Miss These Other Great Finds</h1>

<div class="cool_display" style="height: 30vh;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background: #f1ede2;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    -webkit-overflow-scrolling: touch;">
 <% @listings.each do |listing| %>
 <% if listing.status == "Current" %>
      <a href="<%= listing_path(listing) %>"><img src="<%= listing.image_url %>" style="height: 30vh;"></a>

      <% end %>

    <% end %>


</div>

<% archive_counter = 0; %>
<% @listings.each do |listing| %>
<% if listing.make == @listing.make && listing.status == "Archived" %>
<% archive_counter = archive_counter + 1; %>
<% end %>
<% end %>

<% if archive_counter > 0 %>

<h1 style="text-align: center;">Archived <%= @listing.make %> Finds</h1>

<div class="cool_display" style="height: 30vh;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background: white;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    -webkit-overflow-scrolling: touch;">
 <% @listings.each do |listing| %>
 <% if listing.make == @listing.make && listing.status == "Archived" %>
      <a href="<%= listing_path(listing) %>"><img src="<%= listing.image_url %>" style="height: 30vh;"></a>

      <% end %>

    <% end %>


</div>

<% end %>

<% exsisting_collections = 0; %>

<% if current_user %>
<% @collections.each do |collection| %>
<% if collection.collection_author == current_user.email %>
<% exsisting_collections = exsisting_collections + 1; %>
<% end %>
<% end %>

<% if exsisting_collections > 0 %>
<div class="add_to_collection" style="width: 50%; margin-right: auto; margin-left: auto; text-align: center;">
<!-- Add To Collection -->
</div>

<% end %>

<% end %>


<% if current_user && current_user.technician? && (@listing.status == "Community" || @listing.status == "Pending")%>

<div style="background-color: black; width: 50%; padding-top: 1em; color: #fff; margin-left: auto; margin-right: auto; text-align: center; padding-bottom: 1em;">

<h2>Approval for Community Display</h2>
<% if @listing.status == "Community" %>
<p>This Listing is Currently Approved For Community Display</p>
<a href="<%= edit_listing_path(@listing) %>"><button class="view_item">Change Status</button></a>

  <% end %>

  <% if @listing.status == "Current" %>
<p>This Listing is Currently Approved For Showroom Display</p>
  <% end %>

  <% if @listing.status == "Archived" %>
<p>This Listing is Archived and Cannot Be Approved at This Time</p>
  <% end %>

  <% if @listing.status == "Private" %>
<p>This Listing is Currently NOT Approved For Community Display</p>
<a href="<%= edit_listing_path(@listing) %>"><button>Change Status</button></a>

  <% end %>

  <% if @listing.status == "Pending" %>
<p>This Listing is Currently Pending Approved For Community Display</p>
<a href="<%= edit_listing_path(@listing) %>"><button>Change Status</button></a>

  <% end %>


</div>
<% end %>


<!-- Below Is The Filtering System for Comments to Prevent Explict Content. All Content in Array Is From Maurice Bulter via GitHub and is used under the MIT License. The Original Git Commit is Extractable at: https://github.com/MauriceButler/badwords -->


<% arr_explicts = ["4r5e", "5h1t", "5hit", "a55", "anal", "anus", "ar5e", "arrse", "arse", "ass", "ass-fucker", "asses", "assfucker", "assfukka", "asshole", "assholes", "asswhole", "a_s_s", "b!tch", "b00bs", "b17ch", "b1tch", "ballbag", "balls", "ballsack", "bastard", "beastial", "beastiality", "bellend", "bestial", "bestiality", "bi+ch", "biatch", "bitch", "bitcher", "bitchers", "bitches", "bitchin", "bitching", "bloody", "blow job", "blowjob", "blowjobs", "boiolas", "bollock", "bollok", "boner", "boob", "boobs", "booobs", "boooobs", "booooobs", "booooooobs", "breasts", "buceta", "bugger", "bum", "bunny fucker", "butt", "butthole", "buttmuch", "buttplug", "c0ck", "c0cksucker", "carpet muncher", "cawk", "chink", "cipa", "cl1t", "clit", "clitoris", "clits", "cnut", "cock", "cock-sucker", "cockface", "cockhead", "cockmunch", "cockmuncher", "cocks", "cocksuck", "cocksucked", "cocksucker", "cocksucking", "cocksucks", "cocksuka", "cocksukka", "cok", "cokmuncher", "coksucka", "coon", "cox", "crap", "cum", "cummer", "cumming", "cums", "cumshot", "cunilingus", "cunillingus", "cunnilingus", "cunt", "cuntlick", "cuntlicker", "cuntlicking", "cunts", "cyalis", "cyberfuc", "cyberfuck", "cyberfucked", "cyberfucker", "cyberfuckers", "cyberfucking", "d1ck", "damn", "dick", "dickhead", "dildo", "dildos", "dink", "dinks", "dirsa", "dlck", "dog-fucker", "doggin", "dogging", "donkeyribber", "doosh", "duche", "dyke", "ejaculate", "ejaculated", "ejaculates", "ejaculating", "ejaculatings", "ejaculation", "ejakulate", "f u c k", "f u c k e r", "f4nny", "fag", "fagging", "faggitt", "faggot", "faggs", "fagot", "fagots", "fags", "fanny", "fannyflaps", "fannyfucker", "fanyy", "fatass", "fcuk", "fcuker", "fcuking", "feck", "fecker", "felching", "fellate", "fellatio", "fingerfuck", "fingerfucked", "fingerfucker", "fingerfuckers", "fingerfucking", "fingerfucks", "fistfuck", "fistfucked", "fistfucker", "fistfuckers", "fistfucking", "fistfuckings", "fistfucks", "flange", "fook", "fooker", "fuck", "fucka", "fucked", "fucker", "fuckers", "fuckhead", "fuckheads", "fuckin", "fucking", "fuckings", "fuckingshitmotherfucker", "fuckme", "fucks", "fuckwhit", "fuckwit", "fudge packer", "fudgepacker", "fuk", "fuker", "fukker", "fukkin", "fuks", "fukwhit", "fukwit", "fux", "fux0r", "f_u_c_k", "gangbang", "gangbanged", "gangbangs", "gaylord", "gaysex", "goatse", "God", "god-dam", "god-damned", "goddamn", "goddamned", "hardcoresex", "hell", "heshe", "hoar", "hoare", "hoer", "homo", "hore", "horniest", "horny", "hotsex", "jack-off", "jackoff", "jap", "jerk-off", "jism", "jiz", "jizm", "jizz", "kawk", "knob", "knobead", "knobed", "knobend", "knobhead", "knobjocky", "knobjokey", "kock", "kondum", "kondums", "kum", "kummer", "kumming", "kums", "kunilingus", "l3i+ch", "l3itch", "labia", "lust", "lusting", "m0f0", "m0fo", "m45terbate", "ma5terb8", "ma5terbate", "masochist", "master-bate", "masterb8", "masterbat*", "masterbat3", "masterbate", "masterbation", "masterbations", "masturbate", "mo-fo", "mof0", "mofo", "mothafuck", "mothafucka", "mothafuckas", "mothafuckaz", "mothafucked", "mothafucker", "mothafuckers", "mothafuckin", "mothafucking", "mothafuckings", "mothafucks", "mother fucker", "motherfuck", "motherfucked", "motherfucker", "motherfuckers", "motherfuckin", "motherfucking", "motherfuckings", "motherfuckka", "motherfucks", "muff", "mutha", "muthafecker", "muthafuckker", "muther", "mutherfucker", "n1gga", "n1gger", "nazi", "nigg3r", "nigg4h", "nigga", "niggah", "niggas", "niggaz", "nigger", "niggers", "nob", "nob jokey", "nobhead", "nobjocky", "nobjokey", "numbnuts", "nutsack", "orgasim", "orgasims", "orgasm", "orgasms", "p0rn", "pawn", "pecker", "penis", "penisfucker", "phonesex", "phuck", "phuk", "phuked", "phuking", "phukked", "phukking", "phuks", "phuq", "pigfucker", "pimpis", "piss", "pissed", "pisser", "pissers", "pisses", "pissflaps", "pissin", "pissing", "pissoff", "poop", "porn", "porno", "pornography", "pornos", "prick", "pricks", "pron", "pube", "pusse", "pussi", "pussies", "pussy", "pussys", "rectum", "retard", "rimjaw", "rimming", "s hit", "s.o.b.", "sadist", "schlong", "screwing", "scroat", "scrote", "scrotum", "semen", "sex", "sh!+", "sh!t", "sh1t", "shag", "shagger", "shaggin", "shagging", "shemale", "shi+", "shit", "shitdick", "shite", "shited", "shitey", "shitfuck", "shitfull", "shithead", "shiting", "shitings", "shits", "shitted", "shitter", "shitters", "shitting", "shittings", "shitty", "skank", "slut", "sluts", "smegma", "smut", "snatch", "son-of-a-bitch", "spac", "spunk", "s_h_i_t", "t1tt1e5", "t1tties", "teets", "teez", "testical", "testicle", "tit", "titfuck", "tits", "titt", "tittie5", "tittiefucker", "titties", "tittyfuck", "tittywank", "titwank", "tosser", "turd", "tw4t", "twat", "twathead", "twatty", "twunt", "twunter", "v14gra", "v1gra", "vagina", "viagra", "vulva", "w00se", "wank", "wanker", "wanky", "whoar", "whore", "xrated", "xxx"] %>

<div class="comment-section" style="width: 50%; margin-left: auto; margin-right: auto;">
<h2 id="comment_section_destination"><%= @comments.count %> <%= 'Comment'.pluralize(@comments.count) %></h2>
 
<% if @listing.status == "Current" %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
<% else %>
<p style="text-align: center;">New Comments Not Available on <%= @listing.status %> Listings</p>
<% end %>
<% @comments.each do |comment| %>
 <% if arr_explicts.any? { |substring| comment.body.downcase.include?(substring) } %>
 <% comment.destroy %>
 <% else %>
  <div class="comment-display">

    <span><strong><%= comment.user_name %></strong> <%= comment.updated_at.to_formatted_s(:long) %></span>
    <br>
  
    <p><%= comment.body %></p>
 
<!--
    <% if !current_user %>
<a href="<%= login_path %>"><button class="like_button"><span><img src="https://image.flaticon.com/icons/svg/25/25297.svg" width="20px"><div style="vertical-align: top;"><%= comment.likes.count %> <%= 'Like'.pluralize(comment.likes.count) %></div></span></button></a>
    <% end %>
<% if current_user %>
<% pre_like = comment.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', comment_like_path(comment, pre_like), method: :delete %>

   <div style="vertical-align: middle;"><span> <%= button_to ' ', comment_like_path(comment, pre_like), method: :delete, class: :liked_button %><h1><%= comment.likes.count %> <%= 'Like'.pluralize(comment.likes.count) %></h1></span></div>
  <span><div style="vertical-align: top; display:inline-block;"><%= button_to ' ', comment_likes_path(comment), method: :post, class: :like_button %><%= comment.likes.count %> <%= 'Like'.pluralize(comment.likes.count) %></div></span>

<% end %>
-->
    <% if (current_user && current_user.admin?) || current_user.email == comment.user_email || current_user.email == @listing.listing_author %>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
    <% end %>

  </div>
  <% end %>
<% end %>

</div>

<% if current_user && @listing.listing_author == current_user.email %>
<div class="creator_bar">
  <h1>Creator Toolbar</h1>
  <p>Current Status: <%= @listing.status %></p>
  <p>Comments Left: <%= @comments.count %></p>
  <div style="margin-bottom: 1em;">
<a href="<%= edit_listing_path(@listing) %>"><button class ="view_item" type="button">Edit</button></a>
            or <%= link_to 'Delete', @listing, method: :delete, data: { confirm: 'Are you sure?' }, style: "color: white; text-decoration: none; border: 2px solid white; font-size: 1em; margin-top: 0.5em; letter-spacing: .02em; -webkit-font-smoothing: antialiased; background-color: transparent; padding: .15em;" %>
          </div>

</div>
<% end %>

<div style="margin-top: 5em; text-align: center;">


<div style="width: 100%; background-color: black;">
<br>
<h1 style="color: white; text-align: center;">Raw Admin View</h1>
<br>
</div>




<% if current_user && current_user.admin?%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @listing.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @listing.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @listing.model %>
</p>

<p>
  <strong>Trim:</strong>
  <%= @listing.trim %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @listing.mileage %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @listing.vin %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Exterior color:</strong>
  <%= @listing.exterior_color %>
</p>

<p>
  <strong>Interior color:</strong>
  <%= @listing.interior_color %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @listing.engine %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @listing.transmission %>
</p>

<p>
  <strong>Original listing service:</strong>
  <%= @listing.original_listing_service %>
</p>

<p>
  <strong>Listing url:</strong>
  <%= @listing.listing_url %>
</p>

<p style="max-width: 50%; margin-left: auto; margin-right: auto;">
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Listing author:</strong>
  <%= @listing.listing_author %>
</p>

<p>
  <strong>Status:</strong>
  <%= @listing.status %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @listing.image_url %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>

<% end %>

</div>
