<% if current_user && current_user.admin?%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @listing.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @listing.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @listing.model %>
</p>

<p>
  <strong>Trim:</strong>
  <%= @listing.trim %>
</p>

<p>
  <strong>Mileage:</strong>
  <%= @listing.mileage %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @listing.vin %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Exterior color:</strong>
  <%= @listing.exterior_color %>
</p>

<p>
  <strong>Interior color:</strong>
  <%= @listing.interior_color %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @listing.engine %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @listing.transmission %>
</p>

<p>
  <strong>Original listing service:</strong>
  <%= @listing.original_listing_service %>
</p>

<p>
  <strong>Listing url:</strong>
  <%= @listing.listing_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Listing author:</strong>
  <%= @listing.listing_author %>
</p>

<p>
  <strong>Status:</strong>
  <%= @listing.status %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @listing.image_url %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>

<% else %>
<div class="Product_Show_Page">


<table>
  <tr>
    <th><img src="<%= @listing.image_url %>" alt="<%= @listing.title %>" width="500em" height= auto></th>
    <th>

      <table>
        <tr><br></tr>
        <tr><br></tr>
        <tr><h1 class="product_title"> <%= @listing.title %> </h1></tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr><p1 class="product_description"><%= @listing.description %></p1></tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr><p1 class="product_price"> Price: <%= number_to_currency(@listing.price) %> </p1></tr>
        <tr><br></tr>
         <tr><br></tr>
        <tr>
            

                <a href="<%= @listing.listing_url %>"><button class ='add_to_cart_button' style="" type="button">View Original Listing</button></a>
        </tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr><br></tr>
        <tr><br></tr>

      </table>




    </th>
  </tr>





</table>
<br>
<br>
<br>
<br>
<br>
<div class="listing_summary">
<h1 class="product_title" style="text-align: center;"> Listing at a Glance </h1>


<table width="100%" cellspacing="0" cellpadding="0" role="presentation">
            
            <tbody><tr>
                  <td width="50.0%">
                        Year:
                       
                      
                        <span><%= @listing.year %></span></td>
                     <td width="50.0%">
                        Make:
                       
                      
                        <span><%= @listing.make %></span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        Model:
                       
                      
                        <span><%= @listing.model %></span></td>
                     <td width="50.0%">
                        Trim:
                       
                      
                        <span><%= @listing.trim %></span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        Mileage:
                       
                      
                        <span><%= @listing.mileage %></span></td>
                     <td width="50.0%">
                        Vehicle Identification Number:
                       
                      
                        <span><%= @listing.vin %></span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        Condition:
                       
                      
                        <span><%= @listing.condition %></span></td>
                     <td width="50.0%">
                        Exterior Color:
                       
                      
                        <span><%= @listing.exterior_color %></span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        Interior Color:
                       
                      
                        <span><%= @listing.interior_color %></span></td>
                     <td width="50.0%">
                        Engine:
                       
                      
                        <span><%= @listing.engine %></span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        Transmission:
                       
                      
                        <span><%= @listing.transmission %></span></td>
                     <td width="50.0%">
                        Original Listing Service:
                       
                      
                        <span><%= @listing.original_listing_service %></span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        More Cylinder's Listing Status:
                       
                      
                        <span><%= @listing.status %></span></td>
                     <td width="50.0%">
                        Listing Price:
                       
                      
                        <span><%= number_to_currency(@listing.price) %></span></td>
                    </tr>
             <!-- <tr>
                   <td width="50.0%">
                        Condition:
                       
                      
                        <span>Used</span></td>
                     <td width="50.0%">
                        Condition:
                       
                      
                        <span>Used</span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        Condition:
                       
                      
                        <span>Used</span></td>
                     <td width="50.0%">
                        Condition:
                       
                      
                        <span>Used</span></td>
                    </tr>
              <tr>
                   <td width="50.0%">
                        Condition:
                       
                      
                        <span>Used</span></td>
                     <td width="50.0%">
                        Condition:
                       
                      
                        <span>Used</span></td>
                    </tr> -->
                                </tbody></table>
              <p style="text-align: center; font-size: 0.5em; font-weight: 500;">Although every effort is made to present accurate and reliable vehicle information, use of this information is voluntary, and should only be deemed reliable after an independent review of its accuracy, completeness, and timeliness.</p>


</div>
<br>
<br>
</div>


<% end %>

