<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% adj = ["Stunning", "Natural", "Wild",  "Boosted", "Revamped", "Redesigned", "Slammed", "Lifted", "Blue",  "Slanted", "Classic", "Antique", "Original", "Salvage", "Rebuilt", "Rusted Out", "Modified", "Obsessed", "Standard", "Ordinary", "Obnoxious", "Odd", "Unique", "Pleasant", "Rabid", "Ritzy", "Shiny" ] %>

    <% make = ["Alfa Romeo", "Audi", "Aston Martin", "Auburn", "Vector", "Porsche", "Tesla", "Mercedes-Benz", "Maybach", "AMG", "Lamborghini", "Ferrari", "McLaren", "Cobra", "Bentley", "MG", "E63 AMG", "Muira", "Testarossa", "F355", "599GTO", "Spyker Spyder", "GT3RS", "F1", "P1", "250 GTO", "STI", "GT-R", "Skyline", "Mustang", "Camaro", "Challenger", "Demon", "Hellcat", "Charger", "GT350R", "GT", "Rover", "Hooptie", "Model X", "S63 AMG", "Rapide", "Continental", "Carrera", "Holden" ] %>
    <%= form.hidden_field :user_name, :value=> adj[rand(adj.count)] + " " +make[rand(make.count)]%>
  </div>

<% if current_user %>
  <div class="field">
     <%= form.hidden_field :user_email, :value=> current_user.email %>
  </div>
  <% end %>


  <div class="field">

    <%= form.text_area :body, :class=>"text-spaceage" %>
  </div>


<% if current_user && current_user.admin?%>
  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :flag %>
    <%= form.text_field :flag %>
  </div>

  <% end %>

 <%= form.hidden_field :listing_id %>


<% if current_user %>
  <div class="actions">
    <div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
    <button type="submit" value="Submit" class="comment_button">Comment</button>
  </div>
  </div>

  <% else %>
<a href="<%= login_path %>"><button>Create Comment</button></a>
  <% end %>
<% end %>
