<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% adj = ["Stunning", "Natural", "Wild",  "Boosted", "Revamped", "Redesigned", "Slammed", "Lifted", "Blue",  "Slanted", "Classic", "Antique", "Original", "Salvage", "Rebuilt", "Rusted Out", "Modified", "Obsessed", "Standard", "Ordinary", "Obnoxious", "Odd", "Unique", "Pleasant", "Rabid", "Ritzy", "Shiny", "Scrapped", "Rowdy", "Retired", "Ex", "Tired", "Insane", "Genius", "Handsome", "Low", "Staight Piped", "Deleted", "Platnium", "Exclusive", "Friendly", "Fast", "Quick", "Slow", "Turbocharged", "Stock", "OEM", "Clean Titled", "Limited", "Late Model", "Unleashed", "Confused", "Sought After", "Abandoned", "Short", "Chopped", "Parted", "Restored", "Loud", "Raspy", "Hurried" ] %>

    <% make = ["Alfa Romeo", "Audi", "Aston Martin", "Auburn", "Vector", "Porsche", "Tesla", "Mercedes-Benz", "Maybach", "AMG", "Lamborghini", "Ferrari", "McLaren", "Cobra", "Bentley", "MG", "E63 AMG", "Muira", "Testarossa", "F355", "599GTO", "Spyker Spyder", "GT3RS", "F1", "P1", "250 GTO", "STI", "GT-R", "Skyline", "Mustang", "Camaro", "Challenger", "Demon", "Hellcat", "Charger", "GT350R", "GT", "Rover", "Hooptie", "Model X", "S63 AMG", "Rapide", "Continental", "Carrera", "Holden", "Chiron", "Phantom V", "Saleen", "Fox Body", "GT2RS", "Turbo S", "Boxster", "M5", "M4 GTS", "Trackhawk", "Vantage", "ZO6", "Corvette", "ZR1", "Type 35", "Allard", "300SL", "Hammer", "600SEL", "S8 Plus", "R8", "NSX", "Daytona", "Beater", "Beetle", "VW Buss", "Camry", "RAV4", "Altima", "Ghost", "Wraith", "Mulsanne", "Aventador", "Huracan", "Gallardo", "F430", "360 Modena", "570S", "720S", "Roadster", "Model S", "GT500", "Ghibli", "GranTourismo MC Stradale", "Vanquish", "BMW", "Maserati", "Senna", "Guila", "Tucker Sedan", "Trabant", "Wrangler", "Bronco", "Range Rover", "Escalade" ] %>
    <%= form.hidden_field :user_name, :value=> adj[rand(adj.count)] + " " +make[rand(make.count)]%>
  </div>

<% if current_user %>
  <div class="field">
     <%= form.hidden_field :user_email, :value=> current_user.email %>
  </div>
  <% end %>


  <div class="field">

    <%= form.text_area :body, :class=>"text-spaceage" %>
  </div>


<% if current_user && current_user.admin?%>
  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :flag %>
    <%= form.text_field :flag %>
  </div>

  <% end %>

 <%= form.hidden_field :listing_id %>




<% if current_user %>
  <div class="actions">
    <div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
    <button type="submit" value="Submit" class="comment_button" onclick="confirmComment()">Comment</button>
  </div>
  </div>

  <script>
function confirmComment() {
  confirm("When Your Comment Is Created, It Will Appear With a Random Alias to Keep Your Personal Information Private");
}
</script>

  <% else %>
 <div class="actions">
    <div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
    <a href="<%= login_path %>"><button class="comment_button">Login to Comment</button></a>
  </div>
  </div>
  <% end %>
<% end %>
