<% if current_user && current_user.admin?%>
<p id="notice"><%= notice %></p>

<div style="text-align: center; margin-right: auto; margin-left: auto; margin-top: auto; margin-bottom: auto;">
  <h1>My Admin Account</h1>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<a href="<%= logout_path %>"><button class ="login_btn" style="margin-top: 1em; margin-bottom: 1em;" type="button">Log Out</button></a><br>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>

<% else %>

<% if current_user && current_user == @user %>


<div class="Profile">

	<h1>My Account</h1>
	<a href="<%= edit_user_path(@user) %>"><button class ="profile_icon" style="margin-bottom: 0.25em;" type="button"><h><%= current_user.email[0].upcase %></h> </button></a>
	<br>


<div class ="profile_item">
<strong><p1><%= current_user.email%></p1></strong><br>
<p1>Member Since <%= current_user.created_at.to_date.year %></p1>
</div>



 <a href="<%= logout_path %>"><button class ="login_btn" style="margin-top: 1em;" type="button">Log Out</button></a>

</div>




<section style="background-color: #fff; width: 100vw; height: 1vh;">
	</section>

	<section class="discover_ad_domestic" style="
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}">
    <h1 style="font-size: 6em;">Discover More Cylinders</h1><br>

    
	</section>
<!--

	<section style="background-color: #fff; width: 100vw; height: 1vh;">
	</section>

	<section style="
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('http://www.ted7.com/data2/images/18.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}">
    <br>
	</section>

-->

<button class="collapsible" style="margin-top: .05em; font-weight: thin; margin-bottom: 0.025em;">Private Collections</button>
<div class="content">
<div class="store_display" style="margin-top: 5em;">

<% collect_count = 0; %>


                    <% @collections.each do |collection| %>
<% if collection.collection_author == current_user.email  %>
               <% collect_count = collect_count + 1; %>

               <% if collection.collection_image != "" %>
      <div class="store_item" style="       background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('<%= collection.collection_image %>');">

        <% else %>
 <div class="store_item" style="       background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('https://static.thenounproject.com/png/275465-200.png');">
        <% end %>
        
   
          <br>
          <br>
          <br>
            <h3 style="text-align: center; font-weight: 500;"><%= collection.title %></h3>

            <h5 style="text-align: center; font-weight: 300;"><%= truncate(strip_tags(collection.description), length: 150) %></h5>
            <div class="item_actions">
            


            <br><a href="<%= collection_path(collection) %>"><button class ="view_item" type="button">View</button></a>
            or <a href="<%= edit_collection_path(collection) %>"><button class ="view_item" type="button">Edit</button></a>
        </div>
</div>

<% end %>

<% end %>


</div>



<div style="text-align: center; margin-bottom: 0.5em;">
  <% if collect_count == 0 %>
<h1 style="color: black; font-size: 1.05em;">No Private Collections Found</h1>

<% end %>

<% if collect_count > 0 %>
<h1 style="color: black; font-size: 1.05em;">Showing <%= collect_count %> Private <%= 'Collection'.pluralize(collect_count) %></h1>

<% end %>

<a href="<%= new_collection_path %>"><button class="login_btn">Create New Private Collection</button></a>


</div>
<div style="text-align: center; margin-bottom: 0.5em;">
<p1 style="font-size: .75em;">Learn More About Our <a href="<%= home_path%>" style="color: black;"><strong>Community Finds Program</strong></a></p1>
</div>
</div>


<button class="collapsible" style="margin-bottom: .05em; font-weight: thin; margin-top: 0.025em;">Private Finds</button>
<div class="content">
<div class="store_display" style="margin-top: 5em;">

<% count = 0; %>


                    <% @listings.each do |listing| %>
<% if listing.listing_author == current_user.email  %>
               <% count = count + 1; %>

               <% if listing.image_url != "" %>
      <div class="store_item" style="       background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('<%= listing.image_url %>');">

        <% else %>
 <div class="store_item" style="       background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('https://static.thenounproject.com/png/275465-200.png');">
        <% end %>
        
   
          <br>
          <br>
          <br>
            <h3 style="text-align: center; font-weight: 500;"><%= listing.title %></h3>

            <h5 style="text-align: center; font-weight: 300;"><%= truncate(strip_tags(listing.description), length: 150) %></h5>
            <div class="item_actions">
            <span class="price"><%= number_to_currency(listing.price) %></span>


            <br><a href="<%= listing_path(listing) %>"><button class ="view_item" type="button">View</button></a>
            or <a href="<%= edit_listing_path(listing) %>"><button class ="view_item" type="button">Edit</button></a>
        </div>
</div>

<% end %>

<% end %>


</div>



<div style="text-align: center; margin-bottom: 0.5em;">
  <% if count == 0 %>
<h1 style="color: black; font-size: 1.05em;">No Private Finds Found</h1>

<% end %>

<% if count > 0 %>
<h1 style="color: black; font-size: 1.05em;">Showing <%= count %> Private <%= 'Find'.pluralize(count) %></h1>

<% end %>

<a href="<%= new_listing_path %>"><button class="login_btn">Create New Private Find</button></a>


</div>
<div style="text-align: center; margin-bottom: 0.5em;">
<p1 style="font-size: .75em;">Learn More About Our <a href="<%= home_path%>" style="color: black;"><strong>Community Finds Program</strong></a></p1>
</div>
</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

    <section class="discover_ad_domestic" style="
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}">
    
    </section>
 
	<% else %>

<a href="<%= home_path %>">
<div class="error_access_denied">
  <a href="<%= home_path %>">
<img src="http://baumcube.weebly.com/uploads/6/5/8/4/65844733/something-s-not-quite-right-icon_orig.png" alt="404 Page Not Found" width="943px" height="400px" style="text-align:center;"></a>

<h1>Something Doesn't Quite Line Up</h1>
</div>
<div class="error_button_home">
<a href="<%= home_path %>" >Home</a>
</div>




<% end %>

<% end %>
