<% if current_user && current_user.admin?%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<% else %>

<% if current_user && current_user == @user %>


<div class="Profile">

	<h1>My Account</h1>
	<a href="<%= edit_user_path(@user) %>"><button class ="profile_icon" style="margin-bottom: 0.25em;" type="button"><h><%= current_user.email[0].upcase %></h> </button></a>
	<br>


<div class ="profile_item">
<strong><p1><%= current_user.email%></p1></strong><br>
<p1>Member Since <%= current_user.created_at.to_date.year %></p1>
</div>



 <a href="<%= logout_path %>"><button class ="login_btn" style="margin-top: 1em;" type="button">Log Out</button></a>

</div>




<section style="background-color: #fff; width: 100vw; height: 1vh;">
	</section>

	<section style="
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://image.redbull.com/rbcom/052/2017-11-29/553c40f4-b6cb-4891-acc6-a118a08d8c0c/0012/0/0/0/3122/4683/1500/1/mike-crawat-modified-car-photography.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}">
    <h1 style="font-size: 6em;">Discover More Cylinders</h1>
	</section>


	<section style="background-color: #fff; width: 100vw; height: 1vh;">
	</section>

	<section style="
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('http://www.ted7.com/data2/images/18.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}">
    <br>
	</section>



	<% else %>

<a href="<%= home_path %>">
<div class="error_access_denied">
  <a href="<%= home_path %>">
<img src="http://baumcube.weebly.com/uploads/6/5/8/4/65844733/something-s-not-quite-right-icon_orig.png" alt="404 Page Not Found" width="943px" height="400px" style="text-align:center;"></a>

<h1>Something Doesn't Quite Line Up</h1>
</div>
<div class="error_button_home">
<a href="<%= home_path %>" >Home</a>
</div>




<% end %>

<% end %>
