<% if current_user && current_user.admin?%>
<p id="notice"><%= notice %></p>

<h1 style="text-align: center;">Archived Showroom Listings</h1>
<p style="text-align: center;"><%= link_to 'New Listing', new_listing_path %><p>
<!--<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Trim</th>
      <th>Mileage</th>
      <th>Vin</th>
      <th>Condition</th>
      <th>Exterior color</th>
      <th>Interior color</th>
      <th>Engine</th>
      <th>Transmission</th>
      <th>Original listing service</th>
      <th>Listing url</th>
      <th>Description</th>
      <th>Price</th>
      <th>Listing author</th>
      <th>Status</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.year %></td>
        <td><%= listing.make %></td>
        <td><%= listing.model %></td>
        <td><%= listing.trim %></td>
        <td><%= listing.mileage %></td>
        <td><%= listing.vin %></td>
        <td><%= listing.condition %></td>
        <td><%= listing.exterior_color %></td>
        <td><%= listing.interior_color %></td>
        <td><%= listing.engine %></td>
        <td><%= listing.transmission %></td>
        <td><%= listing.original_listing_service %></td>
        <td><%= listing.listing_url %></td>
        <td><%= listing.description %></td>
        <td><%= listing.price %></td>
        <td><%= listing.listing_author %></td>
        <td><%= listing.status %></td>
        <td><%= listing.image_url %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->

<div class="store_display">




                    <% @listings.each do |listing| %>
<% if listing.status == "Archived" %>
               
      <div class="store_item" style="       background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url('<%= listing.image_url %>');">
        
   
          <br>
          <br>
          <br>
            <h3 style="text-align: center; font-weight: 500;"><%= listing.title %></h3>

            <% if ((Time.now - listing.updated_at) / 1.minute).round < 1 %>
            <h5 style="text-align: center; font-weight: 300;">Last Updated Less Than A Minute Ago</h5>
            <% else %>
            <% if ((Time.now - listing.updated_at) / 1.minute).round < 60 %>
            <h5 style="text-align: center; font-weight: 300;">Last Updated <%= ((Time.now - listing.updated_at) / 1.minute).round %> <%= 'Minute'.pluralize(((Time.now - listing.updated_at) / 1.minute).round) %> Ago</h5>

            <% else %>
            <% if ((Time.now - listing.updated_at) / 1.hour).round < 24 %>
            <h5 style="text-align: center; font-weight: 300;">Last Updated <%= ((Time.now - listing.updated_at) / 1.hour).round %>  <%= 'Hour'.pluralize(((Time.now - listing.updated_at) / 1.hour).round) %> Ago</h5>
            <% else %>
            <h5 style="text-align: center; font-weight: 300;">Last Updated <%= ((Time.now - listing.updated_at) / 1.day).round %>  <%= 'Day'.pluralize(((Time.now - listing.updated_at) / 1.day).round) %> Ago</h5>
            <% end %>
            <% end %>
            <% end %>


            <div class="item_actions">
            <span class="price"><%= number_to_currency(listing.price) %></span>

            <br>
            <br><a href="<%= listing_path(listing) %>"><button class ="view_item" style="min-width: 120px;" type="button">View</button></a>
            <br><a href="<%= edit_listing_path(listing) %>"><button class ="view_item"  style="min-width: 120px;" type="button">Edit</button></a>
            <br><button class ="view_item"  style="min-width: 120px;" type="button"><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></button>

        </div>
</div>

<% end %>

<% end %> 

</div>


<br>


<br>
<br>
<br>
<br>

<!--<a href="<%= new_listing_path %>"><div id="snackbar">New Listing</div></a> -->

<% else %>




<div class="error_access_denied">
  <a href="<%= root_path %>">
<img src="http://baumcube.weebly.com/uploads/6/5/8/4/65844733/something-s-not-quite-right-icon_orig.png" alt="404 Page Not Found" width="943px" height="400px" style="text-align:center;"></a>

<h1>Something Doesn't Quite Line Up</h1>
</div>
<div class="error_button_home">
<a href="<%= root_path %>" >Home</a>
</div>
<% end %>

