<!--
            Collections
    <div class="store_display">
                               <% @collections.each do |collection| %>
                               <% if collection.status == "Community" %>
<div class="store_item" style="       background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('<%= collection.collection_image %>');">


          <br>
          <br>
          <br>
            <h3 style="text-align: center; font-weight: 500;"><%= collection.title %></h3>

            <h5 style="text-align: center; font-weight: 300;"><%= truncate(strip_tags(collection.description), length: 150) %></h5>
            <div class="item_actions">
            


            <br><a href="<%= collection_path(collection) %>"><button class ="view_item" type="button">View</button></a>
            or <a href="<%= edit_collection_path(collection) %>"><button class ="view_item" type="button">Edit</button></a>
        </div>
    </div>



<% end %>
<% end %>
</div>
   

   Listings

    <div class="store_display">




                  	<% @listings.each do |listing| %>
<% if listing.status == "Community" %>
               
      <div class="store_item" style="       background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('<%= listing.image_url %>');">
        
   
          <br>
          <br>
          <br>
            <h3 style="text-align: center; font-weight: 500;"><%= listing.title %></h3>

            <h5 style="text-align: center; font-weight: 300;"><%= truncate(strip_tags(listing.description), length: 150) %></h5>
            <div class="item_actions">
            <span class="price"><%= number_to_currency(listing.price) %></span>


            <br><a href="<%= listing_path(listing) %>"><button class ="view_item" type="button">View</button></a>
        </div>
</div>

<% end %>

<% end %> 

</div>
-->
<div style="text-align: center;margin-top: 30em; margin-bottom: 30em;">
<h1>Coming Soon! No, Seriously, Check Back Soon!</h1>
<a href="<%= home_path %>">Take Me Back Home</a>
 </div>